* {
    box-sizing: border-box;
}

html {
	font-family: 'Nixie One', serif;
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

.background {
  animation-iteration-count: infinite;
  animation-name: page;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}

@keyframes page {
  0% {
    background-color: #ffbdbd;
  }
  50% {
    background-color: #a6e0d2;
  }
  100% {
    background-color: #ffbdbd;
  }
}

header {
	position: fixed;
	width: 100%;
}

nav {
	display: flex;
	padding: 2%;
	background-color: #1c1c1c;
}

nav a {
	text-decoration: none;
	font-family: 'Nixie One', serif;
	color: #a6e0d2;
	margin-right: 5px;
	margin-left: 5px;
	padding: 10px;
	border-style: none;
	background-color: transparent;
	font-size: 1.5rem;
	border-bottom: 1px solid transparent;
}

nav a:hover {
	color: #ff8c8c;
	border-bottom: 1px solid #ffadb4;
}

main {
	height: 100vh;
	color: #1c1c1c;
	padding: 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	font-family: 'Nixie One', serif;
}

.top {
	display: flex;
	flex-direction: column;
	align-items: flex-start; 
}

.bottom {
	display: flex;
	flex-direction: column;
	align-items: flex-end; 
}

h2, h1 {
	margin: 0;
}

h1 {
	font-size: 10rem;
	font-weight: bold;
}

h2 { 
	font-size: 8rem;
	font-weight: 100;
}

#fade {
  animation-name: fadein;
  animation-duration: 3s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0.4;
  }
  66% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.projects {
	height: 100vh;
	padding: 5%;
	font-family: 'Nixie One', serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.grid {
	display: grid;
	text-align: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

img {
	width: 80%;
}

h3 {
	font-size: 2rem;
}

.project:hover {
	opacity: 0.5;
}

.about-me {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-me img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

.about-me {
	padding: 5%;
}

.text {
	font-size: 1.5rem;
}

.contact {
	height: 100vh;
	padding: 3%;
	padding-top: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-box {
	text-decoration: none;
	padding: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border: 1px solid black;
	color: black;
}

.contact-box:hover {
	background-color: black;
	color: #ff8c8c;
}

h3 span {
	text-decoration: line-through;
}

.git {
	margin-top: 20%;
	text-align: center;
	height: 120px;
	width: 120px;
}

@media only screen and (max-width: 600px) {
 nav a {
	  font-size: 1rem;
  }
  h1 {
	  font-size: 4rem;
  }
  h2 {
	  font-size: 3rem;
  }
  main {
	  padding-top: 60px;
  }
  .bottom {
	  margin-bottom: 3rem;
  }
  .contact-font {
  	font-size: 20px;
	font-weight: bold;
  }
}


